@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  min-height: calc(60vh - 60px);
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .curved-bg {
    box-sizing: border-box;
    clip-path: ellipse(156% 100% at 66.96% 0%);
  }
  .hero {
    min-height: calc(100vh - 132px);
  }
}
@media only screen and (min-width: 1535px) and (max-width: 1640px) {
  .container {
    max-width: 1400px;
  }
}
@layer utilities {
  .my-rotate-y-180 {
    transform: rotateY(180deg);
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .perspective {
    perspective: 1000px;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}
