@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  min-height: calc(60vh - 60px);
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .curved-bg {
    box-sizing: border-box;
    clip-path: ellipse(156% 100% at 66.96% 0%);
  }
  .hero {
    min-height: calc(100vh - 132px);
  }
}
@media only screen and (min-width: 1535px) and (max-width: 1640px) {
  .container {
    max-width: 1400px;
  }
}
@layer utilities {
  .my-rotate-y-180 {
    transform: rotateY(180deg);
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.panel__label {
  position: relative;
  display: block;
  width: 100%;
  background: none;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  font-family: inherit;
  transition: color 0.2s linear;
  cursor: pointer;
}
.panel__label:focus {
  outline: none;
}
.panel__label:after,
.panel__label:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  width: 22px;
  height: 2px;
  margin-top: -2px;
  background-color: #372717;
}
.panel__label:before {
  transform: rotate(-90deg);
  transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.panel[aria-expanded="true"] .panel__content {
  opacity: 1;
}
.panel[aria-expanded="true"] .panel__label {
  color: #000;
}
.panel[aria-expanded="true"] .panel__label:before {
  transform: rotate(0deg);
}
.panel__inner {
  overflow: hidden;
  will-change: height;
  transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.panel:not(:last-child) {
  margin-bottom: 3px;
}
.about-header {
  background: gray;
  height: 50vh;
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/about-bg.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
}
